/* header */
.img-ban, .lupa, .carrito-compras, .burger-menu, .barra-menu, .marquesina {
    display: none;
}
main {
    margin-top: 10px;
    padding-bottom: 90px;
}
.container {
    margin-top: 70px;
}

.card-volver {
    width: 45%;
    background-color: gray;
    margin: auto;
    margin-top: 30px;
   margin-bottom: 15px;
}