/* header */
.img-ban, .lupa, .carrito-compras, .burger-menu, .barra-menu, .marquesina {
    display: none;
}
main {
    margin-top: 10px;
    padding-bottom: 90px;
}
.container {
    margin-top: 70px;
}