
<link rel="stylesheet" href="/css/footer.css"/>

    <section class="footer">
        <section class="sector-footer">
            <h2 class="titulo-footer">Pagá con las tarjetas:</h2>
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/american-express.png"></i>
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/visa.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mastercard.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/cabal.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/diners-club.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/naranja.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/maestro.png">
        </section>
        <section class="sector-footer">
        
            <h2 class="titulo-footer">Seguridad, de principio a fin pagando con: </h2>
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/pagofacil.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/mercadopago.png">
            <img src="https://dk0k1i3js6c49.cloudfront.net/iconos-pago/rapipago.png">
        </section>
        <section class="sector-footer">
            <i class="fa-solid fa-truck-arrow-right icono-footer"></i>
            <h2 class="titulo-footer">Envío gratis desde: $12.500</h2>
        </section>
        <section class="sector-footer">  
            <p class="texto-footer">
            Si estas registrad@, pulsá la opción <strong>Devolver</strong>, en el menú superior, ante cualquier
            detalle de la prenda.
            </p>
        </section>
    </section>

    

    <div>
        <h6>Powered by: DH_grupo3</h6>
    </div>