<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css" />

    <script  src="https://www.google.com/recaptcha/api.js" async defer></script>  
    
    <script>
        function enviar(token){
            document.getElementById("olvido-form").submit();
        }
    </script>

    <title>Olvido Clave</title>
   
</head>
<body>
    <div class="container-form-olvido-clave">
        <label>Ingrese su email, le enviaremos un correo para recuparar su contraseña.</label>
        <form action="/enviarMail" method="POST"  id="olvido-form">
            <input type="email" value="" name="email" class="email-form-olvido-clave" placeholder="ingrese mail"
                              autofocus required> 
                     
                             
                            <%  if (locals.errors && errors.pieError) {  %> 
    
                            <div name="pieError">
                                <p class="pie-error" ><%= errors.pieError.msg %> </p>
                            </div>
                            <% } %> 

                            <%  if (locals.errors && errors.pieForm) {  %> 
    
                            <div name="pieForm">
                                     <p class="pie-form" ><%= errors.pieForm.msg %> </p>
                            </div>
                            <% } %>     
                    
                   
            <button class="boton-form-olvido-clave" type="submit">Enviar</button>

                
                    <!-- 
                         
            <span class="msg-error error"></span>
            <div id="recaptcha" class="g-recaptcha" data-sitekey="6LePUZclAAAAADM5KeN0J_9WtZXvCWOzoWGB-g_X" ></div>
                            
                    -->
            <button class="g-recaptcha" data-sitekey="6Lfe85slAAAAAP2G5Y51LvWFEBeUy_cKGqU5zV92" 
            data-callback="enviar" ></button>            



        </form>

        
            <button class="boton-form-olvido-clave-volver" type="submit"><a href="/"  class="" >Volver</a></button>     
            
           </div>

</body>
</html>