<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css" />


    <title>Olvido Clave</title>
   
</head>
<body>
    <div class="container-form-olvido-clave">
        <label>Ingrese su email, le enviaremos un correo para recuparar su contraseña.</label>
        <input type="email" value="" class="email-form-olvido-clave" >
        <button class="boton-form-olvido-clave" type="submit" ><a class="boton-form-olvido-clave" href= "/">Enviar</a></button>
    </div>

</body>
</html>