<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/productDetail.css" /> 

    <title>Detalle de Producto</title>

</head>

<body>
    <!------------------------------------ header ------------------------------------------------------>
<%- include('../partials/header.ejs') %>

    <!-- MAIN -->
    <main >

        <!-- CARRUSEL DE IMAGENES-->
        <div class="caja-menu-imagen">
            <div class="imagen-articulo">
                <img src="/images/losCreadores/imageMoe3.jpg" alt="FOTO DE MOE">
                <img src="/images/losCreadores/imageLarry.jpg" alt="FOTO DE LARRY">
                <img src="/images/losCreadores/imageCurly.jpg" alt="FOTO DE CURLY">
            </div>

        </div>
        
        <!-- Los creadores del sitio StoneBlack -->
        <div class="caja-detalles">
            <div class="titulo-articulo">
                <h5>Los creadores del sitio :</h5>
            </div>
            <div class="titulo-articulo">
                <h3>Ricardo "Moe" García</h3>
            </div>
            <div class="titulo-articulo">
                <h3>Matías "Larry" Alemany</h3>
            </div>
            <div class="titulo-articulo">
                <h3>Leo "Curly" Acquaotta</h3>
            </div>
            <div class="titulo-articulo">
                <h6>© 2022-2023</h6>
            </div>
        </div>

       
       



    

        


    </main>
<!--------------------------------- footer --------------------------------------------------------------->




</body>

</html>